<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>ToDoアプリ</title>
</head>
<body>
  <div id="app" class="container">
    <h1>ToDo List</h1>
    <ul>
      <li v-for="(todo, index) in todos" :key="todo.id">
        <div v-if="!todo.isEditing">
          <input type="checkbox" v-model="todo.isDone" @change="toggleDone">
          <span :class="{done: todo.isDone}" @click="editItem(index)">{{ todo.title }}</span>
          <button @click="deleteItem(index)">delete</button>
        </div>
        <div v-else>
          <input type="text" v-model="todo.title" @keypress.enter="doneEdit(index)" @blur="cancelEdit(index)" v-focus>
        </div>
      </li>
      <li v-show="!todos.length">ToDoはありません。</li>
    </ul>
    <form @submit.prevent="addItem"> 
      <input type="text" v-model="newItem">
      <input type="submit" value="add">
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
